@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import './variables';

* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: var(--main-font);
    ::before,
    ::after {
        box-sizing: border-box;
    }
}

::selection {
    background-color: #47a3f3;
    color: #fefefe;
}

html {
    scroll-behavior: smooth;
    a { color: var(--text-color); }
}

body {
    height: 100vh;
    padding: 0;
    font-size: var(--normal-font-size);
    transition: background-color .5s;

    @include theme-colors($light-theme: true);
    &.dark {
        @include theme-colors($light-theme: false);
    }
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    margin-top: 1.8rem;
    text-transform: uppercase;
}

li {
    margin-bottom: 6px;
}

.container__resume {
    display: flex;
    margin: auto;
    width: 50rem;
    box-shadow: 3px 3px 5px 6px #ccc;
}

//resume__basics
.button-theme {
    float: right;
    margin: .5rem;
    border-radius: .5rem;
    width: 2.25rem;
    height: 2.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 0 solid #eaeaea;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .15s;

    svg {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.image__profile {
    width: 240px;
    height: 240px;
    margin: 50px auto 0 auto;

    img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }
}

.resume__profile {
    text-align: center;

    .profile__name {
        font-weight: 800;
        font-size: var(--h1-font-size);
        text-transform: uppercase;
        padding: 20px 20px 0 20px;
        line-height : 30px;
    }

    .profile__label {
        margin: 7px auto;
    }
}

.resume__basics .basics {
    text-align: justify;
    padding: 15px 15px 0 20px;
}

.resume__skills {
    border-top: 3px solid var(--container-color);
    border-bottom: 3px solid var(--container-color);
}

.resume__skills li {
    overflow: hidden;
    white-space: nowrap;
    animation: 
        typing 3.5s steps(40, end)
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

.resume__languages {
    border-bottom: 3px solid #fff;
}

.resume__languages ul {
    display: flex;
}

.__fluency {
    margin-left: 10px;
}

.logo {
    display: flex;

    div:last-child {
        margin-left: 10px;
    }
}

//resume__main
.resume__main {
    width: 100%;
    background: var(--container-color);
    padding: 3.1rem 1.8rem 1.8rem;
    text-align: justify;
}

.resume__summary {
    font-size: var(--larger-font-size);
}

.work__experience, .education__experience, .position, .date {
    display: flex;
}

.work__experience, .education__experience {
    margin: 17px 0;
}

.company {
    text-transform: uppercase;
    font-weight: 700;
}

.experience__education {
    margin-top: var(--mb-4);
}

.institution {
    text-transform: uppercase;
    font-weight: 700;
}

.__rounder {
    display: block;
    background-color: var(--text-color-light);
    position: relative;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-top: .25rem;
    margin-right: 0.25rem;
}

.__line {
    width: 2px;
    height: 110%;
    -webkit-transform: translate(7px);
    transform: translate(7px);
    display: block;
    background-color: var(--text-color-light);
    animation: draw-line 5s;
    animation-fill-mode: forwards;
}

@keyframes draw-line {
    0% {
        height: 0;
    }

    100% {
        height: 110%;
    }
}

.date li:last-child::before {
    content: "";
    top: 5px;
    width: 6px;
    height: 6px;
    margin-right: 10px;
}

.date li:last-child {
    margin-left: 10px;
}

//Loader
.loader {
    margin: 0 auto;
    width: 40px;
    height: 40px;
}
  
.loader:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid rgb(42, 64, 158);
    border-color: rgb(59, 75, 184) transparent #fff transparent;
    animation: loader 1.2s linear infinite;
}
  
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 991px) {
    body.dark { box-shadow: none; }

    .container__resume {
        display: block;
        width: auto;
    }

    .resume__basics {
        width: 100%;
        background-color: transparent;
        overflow: hidden;
    }

    .resume__main {
        width: auto;
        height: 100%;
        overflow: auto;
        padding: 30px;
    }
    
}
