.resume__skills {
    border-top: 3px solid var(--container-color);
    border-bottom: 3px solid var(--container-color);
}

.resume__skills li {
    overflow: hidden;
    white-space: nowrap;
    animation: 
        typing 3.5s steps(40, end)
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}