@import '../../variables';

.container__resume {
    margin: auto;
    width: 800px;
    display: flex;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.resume__basics {
    background: $main-color;
    text-align: center;
    color: $--white;
}

.resume__basics .basics {
    text-align: justify;
    padding: 15px 15px 0 20px;
}

.resume__basics h2 {
    margin-bottom: 10px;
}

.resume__main {
    width: 100%;
    background: $--white;
    padding: 30px;
    text-align: justify;
}

.resume__main h3 {
    margin-top: 30px;
    border-bottom: 5px solid $main-color;
    text-transform: uppercase;
}

.work__experience, .education__experience {
    margin: 17px 0;
    border-bottom: 0.5px solid $main-color;
}

a {
    color: $--white;
}

li {
    margin-bottom: 6px;
}

@media only screen and (max-width: 991px) {
    body {
        background-color: $mobile-main-color;
    }

    .container__resume {
        display: block;
        width: auto;
        height: auto;
        box-shadow: none;
    }

    .resume__basics {
        width: 100%;
        background-color: transparent;
    }

    .resume__main {
        width: auto;
        padding: 20px;
        margin-top: 50px;
    }

    .resume__experience {
        background-color: transparent;
    }
}

