@import '../../variables';

.container__resume {
    margin: auto;
    width: 800px;
    display: flex;
    box-shadow: 3px 3px 5px 6px #ccc;
}

.resume__profile {
    text-align: center;
}

.resume__basics .basics {
    text-align: justify;
    padding: 15px 15px 0 20px;
}

h2 {
    margin-bottom: 10px;
}

.resume__basics {
    background-color: var(--container-basics);
}

.resume__main {
    width: 100%;
    background: var(--container-color);
    padding: 30px;
    text-align: justify;
}

h3 {
    margin-top: 30px;
    text-transform: uppercase;
}

.work__experience, .education__experience {
    margin: 17px 0;
}

a {
    color: var(--text-color);
}

li {
    margin-bottom: 6px;
}

.loader {
    margin: 0 auto;
    width: 40px;
    height: 40px;
  }
  
  .loader:after {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid rgb(42, 64, 158);
    border-color: rgb(59, 75, 184) transparent #fff transparent;
    animation: loader 1.2s linear infinite;
  }
  
  @keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media only screen and (max-width: 991px) {
    body {
        background-color: var(--container-basics)!important;
    }

    .container__resume {
        display: block;
        width: auto;
        height: auto;
        box-shadow: none;
    }

    .resume__basics {
        width: 100%;
        background-color: transparent
    }

    .resume__main {
        width: auto;
        height: 100%;
        overflow: auto;
        padding: 20px;
        margin-top: 50px;
        background-color: transparent;
    }

    .resume__experience {
        background-color: transparent;
    }
}

