.__contact {
    text-align: justify;
    padding: 20px;
}

.__contact h2 {
    margin-bottom: 20px;
}

.logo {
    display: flex;
}

.logo li:last-child {
    margin-left: 10px;
}

.logo img {
    width: 25px;
    height: 25px;
}